main{}

.main_wrap{
    height: calc(100vh - 150px);
    width: 100%;
    position:relative;
}

.main_wrap .slide {
    height: 100%;
    overflow: hidden;
}

.main_wrap .swiper {
    height: 100%;
}

.main_wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.main_wrap .swiper-slide .txt_box{
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 20% 7.5%;
    box-sizing: border-box;
    z-index: 10000000;
    color: #fff;font-weight: 400;
}

.main_wrap .swiper-slide .txt_box strong{
    font-size: 30px;
    line-height: 1.25;
    letter-spacing: -1.3px;
    font-weight: 700;
}

.main_wrap .swiper-slide .txt_box p{
    padding-top: 15px;
    font-size: 17px;
    line-height: 1.4;
    letter-spacing: -0.5px;
    font-weight:400;
}


main .layout1{
}
main .layout1 h2{
    padding: 50px 16px 22px;
    font-size: 20px;
    line-height: 29px;
    color: #333;
    letter-spacing: -0.05em;
    font-weight: 700;
    display: block;
}

main .layout1 ul{overflow: hidden;}
main .layout1 ul li{
    width:calc((100% - 2.22%)/2);
    float: left;
    padding-bottom: 50px;
}

main .layout1 ul li:nth-child(even){
    float: right;
}

main .layout1 ul li:nth-child(odd){
    float: left;
}

main .layout1 ul li .img_wrap{

}

main .layout1 ul li .img_wrap img{
    width: 100%;
    height: 100%;
    display:block;
}


main .layout1 ul li .txt_wrap{
    padding: 15px 10px 0;
    min-height: 110px;
}

.more_wrap{
    padding: 0 38px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 65px;
    position:relative;
  }

.more_wrap a::after{
    position:absolute;
    content: "";
    display: block;
    padding-left: 5px;
    width: 19px;
    height: 19px;
    background: url(../img/go_cate.png) no-repeat;
    background-size: 19px auto;
    background-position: center;
    top:50%;
    right:180px;
    transform:translateY(-50%);
 }

.collection {}

.collection img{
      width: 100%;
      height: auto;
  }
  .collection .info{
    padding: 20px 16px 20px;
    box-sizing: border-box;
  }

  .collection .info h3{
    font-size: 26px;
    line-height: 35px;
    color: #333;
    letter-spacing: -0.05em;
    font-weight: 700;
  }

  .collection .info p{
    padding: 14px 0 28px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #333;
    font-weight: 400; 
  }

  .collection .go{
    display: inline-block;
    background-color: #1e1e1e;
    border-radius: 2px;
    border: 1px solid #1e1e1e;
    box-sizing: border-box;
    color: #fff;
    padding: 8px 47px 8px 18px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.03em;
    font-weight: 500;
    background-image: url(../img/go_direct.png);
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: calc(100% - 18px) center;

  }

  .collection_more {
      padding:0 16px;
      
  }

  .collection_more li{
      padding:20px 0;
      display: block;
      overflow: hidden;
      display:flex;
      align-items: end;
    justify-content: start;
  }

  .collection_more li:first-child{
   border-bottom: 1px solid #eee;
  }

  .collection_more img{
      width: 110px;
      object-fit: cover;
  }

  .collection_more .txt_wrap{
    padding: 0 28px;
}

main .collection2{
    margin-top:40px;
}


.banner_brand{
    margin:20px 0;
    padding: 56px 20px;
    background-color: #C86733;
    color:#fff;
}

.banner_brand h2{
    font-size: 18px;
    letter-spacing: -0.5px;
    margin: 0 auto 10px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    line-height: 1.2;
}

.banner_brand h1{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #fff;
    font-weight: 700;
}

.banner_brand p{
    padding: 10px 0 5px;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
    letter-spacing: -0.02em;
    font-weight: 400;
}

.banner_brand .more_btn{
    display: inline-block;
    width: 100px;
    margin-top: 20px;
    padding: 10px 0;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.03em;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.banner_brand .more_btn a{
    display: block;
    height: 100%;
}

.main_list{
    padding:0 20px;
    overflow: hidden;
}

.main_list .group_title {
    position:relative;
}
  
.main_list .group_title .main_title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

.main_list .group_title .main_title h3{
  display: inline-block;
  padding: 30px 0;
  font-size: 20px;
  line-height: 24px;
  color: #333;
  font-weight: 600;
  position: relative;
}

.main_list .group_title .main_title_more {
    font-size: 14px;
    line-height: 1.5;
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
  }

.main_list .group_title .main_title_more::after {
    display: inline-block;
    content: "";
    width: 15px;
    height: 11px;
    background: url(../img/icon-move-gr.png) no-repeat;
    background-size: 15px auto;
    background-position: center;
    margin: 0 0 2px 3px;
    vertical-align: -2px;
  }


.main_list  .swiper {
    width: 100%;
    height: 100%;
}

.main_list  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.main_list .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_list .swiper-slide .txt_wrap{
    padding: 15px 5% 0;
    text-align: left;
}


.banner_container{
    padding:70px 0 0;
}

.banner_container  .membership a{
    display:block;
    padding: 80px 20px 74px;
    box-sizing: border-box;
    background: url(../img/banner-mo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_container  .offline a{
    display:block;
    padding: 80px 20px 74px;
    box-sizing: border-box;
    background: url(../img/banner-mo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_container h1{
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #fff;
}
.banner_container  p{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 15px 0 30px;
    box-sizing: border-box;
}

.banner_container span{
    border: 1px solid #fff;
    padding: 7px 25px 8px;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    display: inline-block;
    box-sizing: border-box;
    height: 35px;
}

.banner_container span a{
    height: 100%;display:block;
}




